{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>Модуль регистрации и авторизации пользователей</h1>
            <ul>
                <li><a href="/cabinet.html">/cabinet.html</a></li>
                <li><a href="/login.html">/login.html</a></li>
            </ul>

        </div>
    </div>
{% endblock %}
