{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>Модуль регистрации и авторизации пользователей</h1>
            <ul>
                <li><a href="{{ path('neox_user_cabinet') }}">/cabinet.html</a></li>
                <li><a href="{{ path('neox_user_login') }}">/login.html</a></li>
            </ul>

        </div>
    </div>
{% endblock %}
